<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="arimart_menu_root" 
              name="Ari Mart" 
              sequence="10"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem id="arimart_barang_menu_categ" 
              name="Barang" 
              parent="arimart_menu_root" 
              sequence="10"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem id="arimart_pegawai_menu_categ" 
              name="Pegawai" 
              parent="arimart_menu_root" 
              sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="arimart_transaksi_menu_categ" 
              name="Transaksi" 
              parent="arimart_menu_root" 
              sequence="42"/>

</odoo>
